
*{
    margin:0 auto;
    padding:0;
    box-sizing: border-box;

}
main{
    width:920px;
    margin:auto;
    
}
img{
    width: 100%;
}
.card{
    margin:10px;
    width: 280px;
    border:1px solid black;
    position: relative;
    display: inline-block;
}
.over{
    position:absolute;
}
.heart{
    top:10px;
    right:0;
    background-color: white;
    width: 20px;
    height: 20px;
    font-size: 18px;
    text-align: center;
    vertical-align: 20px;
}
.riga{
    bottom:80px;
    left:0;
}
.price{
    background-color: darkred;
    color:white;
    padding:2px 4px;
    
}
.sostenibilità{
    left:45px;
    background-color: green;
    color:white;
    padding:2px 4px;
}





/* --------show e hide ---------- */
.show{
    display:block;
}
.hide{
    display:none;
}

.testi{
    text-align: left;
    margin: 2px;
}
.relax{
    text-transform: capitalize;
    font-weight: bolder;
}
.red{
    color:red;
    
}

/* -------effetto---------- */
.card:hover .hide{
    display: block;
}
.card:hover .show{
    display: none;
}













































































/* *{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-family: Roboto, sans-serif;
    
}
.container{
    width: 850px;
    background-color: rgba(0, 238, 255, 0.418);
    margin:auto;
    padding-top: 180px;
    
}
img{
    width:100%;
}

/* -----------CARD---------- */
/* .card{
    margin:10px;
    
    width: 260px;
    position:relative;
    display: inline-block;
    

}
.heart{
    background-color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 25px;
    position:absolute;
    top:10px;
    right:0;
    border-radius: 10px;
}
.riga-discount{
    position:absolute;
    bottom:90px;
    left:0;
    color:white;
}
.riga-discount>.sconto{
    
    background-color: crimson;
    margin-right:10px;
}
.riga-discount>.sostenibilità{
    background-color: green;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.card:hover .hide{
    display: block;
}
.card:hover .show{
    display: none;
}
.levis{
    text-align: left;
} */ 
